:root{
    --creme: #E3DCD2;
    --orange: #CC8B65;
    --darkgreen: #013328;
    --black: #100C0D;
}

.body{
    background-color: var(--black);
}

.navigation{
    background-color: var(--darkgreen);
    overflow: auto;

}

.navbar-list {
    
}
.brand{
    display: inline;
    color: var(--creme);
    padding :0 2em;
    border-right:  2px solid var(--creme);
}
.navbar-item{
    display: inline;
    padding: 10px 10px;
    color: var(--creme);
    font-size: 1.2em;
    background-color:  var(--darkgreen);
}

.navbar-item:hover{
    background-color: var(--creme);
    color: var(--darkgreen);
    border-radius: 5px;
}

.content{
    display: inline;
}

.sidebar{
    width: 25%;
}

.main{
    width: 75%;
}
.profile{
    border-top: 1px solid var(--creme);
    background: linear-gradient(0deg, var(--black) 0%, var(--orange) 50%, var(--darkgreen) 100%);
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#profile-photo{
    width: 400px;
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    box-shadow: inset 100px 100px 100px 200px var(--black);
}