:root {
  --creme: #e3dcd2;
  --orange: #cc8b65;
  --darkgreen: #013328;
  --black: #100c0d;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--black); */
  margin: 0px;
  height: 3000px;
  /* height: 100%; */
  /* background: linear-gradient(141deg, var(--darkgreen) 0%, var(--orange) 51%, var(--black) 75%); */
}

/* ########################################################################## */
/*  NAVBAR */
/* ########################################################################## */
.navigation {
  background-color: var(--darkgreen);
  overflow: auto;
}

.navigation li{
  display: inline;
  margin: 10px;
  padding: 0px;
  color: var(--creme);
  font-size: 1.2em;
  background-color: var(--darkgreen);
}

.navigation li a{
  display: inline;
  color: var(--creme);
  text-decoration: none;
  
}
/* .navbar-list {
  padding-inline-start: 0px;
} */
.brand {
  display: inline;
  color: var(--creme);
  border-right: 2px solid var(--creme);
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 5px;
}

.navigation li:hover *{
  background-color: var(--creme);
  color: var(--darkgreen);
  border-radius: 5px;
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--darkgreen);
}
.profile:hover .overlay {
  opacity: 1;
}


/* ########################################################################## */
/* PROFILE */
/* ########################################################################## */


.profile {
  border-top: 1px solid var(--creme);
  background: linear-gradient(
    0deg,
    var(--black) 0%,
    var(--orange) 50%,
    var(--darkgreen) 95%
  );
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
  background-clip: border-box;
}
#profile-photo {
  position: absolute;
  width: 400px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
.text-overlay {
  position: relative;
  height: 25%;
}
.text-overlay h1,
h2 {
  margin: 0px;
  padding: 5px;
}

.langs-table {
  height: 75%;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  width: 100%;
  height: 25%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-size: 2rem;
  color: bisque;
  padding-inline-start: 0px;
}

/* ########################################################################## */
/* MAIN */
/* ########################################################################## */

.main {
  /* display: inline; */
}


/* ########################################################################## */
/*  ANIMATION */
/* ########################################################################## */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell:hover {
  animation-name: rotate;
  animation-duration: 4s;
}

@media screen and (max-width: 600px) {
  .text-overlay{
    font-size: 0.6rem;
  }
  .cell i{
    font-size: 1.5rem;
  }
  .profile {
    position: relative;
    width: 100%;
    height: 75vw;
  }
  .navigation li{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    display: block;
    margin: 5px;
    text-align: center;
    
  }
  .navigation li a{
    display: inline-block;
    width: 100%;
  }
  .navigation ul {
    padding-inline-start: 0px;
  }
  #profile-photo {
    width: 75%;
  }
  .brand {
    display: block;
    text-align: center;
    border-bottom: 2px solid var(--creme);
    border-right: 0px;
    margin: 3px;
  }
}
